# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Windows
Thumbs.db
desktop.ini

# MySQL / backup
*.sql
*.dump